*{box-sizing:border-box}/* normalize.css v2.1.3 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}
[hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}a{background:transparent}a:focus{outline:thin dotted}a:active,a:hover{outline:0}
input:focus,select:focus,textarea:focus{outline:0}h1{font-size:2em;margin:.67em 0}
abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}
button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}.btn{display:inline-block;width:150px;height:40px;line-height:40px;text-align:center;border:0;outline:0;-webkit-border-radius:9px;-moz-border-radius:9px;border-radius:9px;behavior:url("/public/css/PIEcss.htc")}
.btn-primary{color:#294b60;background-color:#88b2cd}.btn-primary:hover{background-color:#acc9dc}
.btn-secondary{color:#294b60;background-color:#6a8190}.btn-secondary:hover{background-color:#879aa6}
.btn-success{color:#62972c;background-color:#c8e6a9}.btn-success:hover{background-color:#e1f1d1}
.btn-danger{color:#bb1515;background-color:#f5a7a7}.btn-danger:hover{background-color:#fad5d5}
.alert{padding:30px}.alert .alert-info{background-color:#85c3e0;color:#297ca3}.alert .alert-warning{background-color:#eac892;color:#be8325}
.alert-info{background-color:#85c3e0}.alert-warning{background-color:#eac892}.alert-error{background-color:#e77a82}
.list-group{border:1px solid #ababab;padding:0}.list-group .list-group-item{display:block;border-bottom:1px solid #ababab;overflow:auto}
.list-group .list-group-item:last-child{border:0}.list-group .list-group-item a{display:inline-block;vertical-align:top;width:100%;padding:.5em 1em;color:#555;text-decoration:none;background-color:#e1e1e1}
.list-group .list-group-item a:hover{text-decoration:none;background-color:#e5e5e5}
.list-group-item-fullName{font-size:1.2em;font-weight:bold;margin:0}.list-group-item-phone{font-size:1.2em;font-weight:normal;margin:0}
.form-group label{display:block;height:30px;line-height:30px;font-weight:bold}.form-group input{display:block;width:100%;padding-left:.5em;padding-right:.5em;height:30px;line-height:30px}
.container{width:100%;padding:0 30px}@media screen and (min-width:768px){.container{width:768px;margin:0 auto}
}#new-contact{margin:0 0 30px 0}#form-actions{margin:30px 0;text-align:right}#contact-info{float:left;width:50%;padding:0 15px}
@media screen and (max-width:767px){#contact-info{width:100%;padding:0}}#contact-info ul{list-style:none;padding:0}
#contact-info ul li{padding-bottom:15px}#contact-info ul li:last-child{padding-bottom:0}
#contact-list-container{float:right;width:50%;padding:15px;background-color:#e9e9e9}
@media screen and (max-width:767px){#contact-list-container{width:100%}}
/*# sourceMappingURL=maps/base.css.map */
